body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.title {
  background-color: rgb(216, 244, 255);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "楷体";
  font-weight: bold;
  font-size: 30px;
  position: relative;
}
button {
  position: absolute;
  right: 40px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 9px;
  padding: 9px 12px 9px 12px;
  cursor: pointer;
  background-color: white;
}
button:hover {
  opacity: 0.85;
}
button:active {
  background-color: rgb(224, 221, 221);
}
.regions {
  background-color: rgb(251, 251, 255);
  flex: 1;
}
.container-1 {
  height: 600px;
  background-color: rgb(252, 252, 252);
  margin-top: 100px;
  margin-left: 130px;
  margin-right: 130px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.item {
  background-color: rgb(252, 183, 191);
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
.item:hover {
  opacity: 0.85;
}
.item:active {
  opacity: 0.7;
}